<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Alterar senha
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only [disabled]="!editPasswordForm.valid" (click)="savePassword()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="editPasswordForm">
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <div class="validation-area">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="(editPasswordForm.get('password').hasError(validation.type) && (editPasswordForm.get('password').dirty))">
          <p class="error center-text">
            {{ validation.message }}
          </p>
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Confirme a senha</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <div class="validation-area">
      <ng-container *ngFor="let validation of validation_messages.confirmPassword">
        <div *ngIf="(editPasswordForm.get('confirmPassword').hasError(validation.type) && (editPasswordForm.get('confirmPassword').dirty))">
          <p class="error center-text">
            {{ validation.message }}
          </p>
        </div>
      </ng-container>
      <ng-container *ngFor="let validation of validation_messages.formErrors">
        <div *ngIf="editPasswordForm.hasError(validation.type) && !editPasswordForm.get('confirmPassword').hasError('required')
        && !editPasswordForm.get('confirmPassword').hasError('minlength')">
          <p class="error center-text">
            {{ validation.message }}
          </p>
        </div>
      </ng-container>
    </div>
  </form>
</ion-content>
