<!--
Generated template for the CreateUserPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Novo usuário
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only [disabled]="!createUserForm.valid" (click)="save()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="createUserForm">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <div class="validation-area">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div *ngIf="createUserForm.get('name').hasError(validation.type) && createUserForm.get('name').dirty">
          <p class="error center-text">
            {{ validation.message }}
          </p>
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Usuário</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>
    <div class="validation-area">
      <p *ngIf="createUserForm.controls.username.valid" class="success center-text">Usuário válido.</p>
      <p *ngIf="createUserForm.controls.username.pending" class="center-text">Checando usuário...</p>
      <ng-container *ngFor="let validation of validation_messages.username">
        <div *ngIf="(createUserForm.get('username').hasError(validation.type) && (createUserForm.get('username').dirty))">
          <p class="error center-text" *ngIf="(createUserForm.get('username').hasError('pattern') && !(validation.type === 'minlength' || validation.type === 'maxlength')) || (!createUserForm.get('username').hasError('pattern') && (validation.type === 'minlength' || validation.type === 'maxlength'))">
            {{ validation.message }}
          </p>
          <p class="error center-text" *ngIf="(!createUserForm.get('username').hasError('pattern') &&
          !(validation.type === 'minlength' || validation.type === 'maxlength'))">
          {{ validation.message }}
        </p>
      </div>
    </ng-container>
  </div>

  <ion-item>
    <ion-label>Permissão</ion-label>
    <ion-select formControlName="roles" [compareWith]="compareFn">
      <ion-option *ngFor="let role of roles" [value]="role">{{role.role}}</ion-option>
    </ion-select>
  </ion-item>
  <div class="validation-area">
    <ng-container *ngFor="let validation of validation_messages.roles">
      <div *ngIf="createUserForm.get('roles').hasError(validation.type) && createUserForm.get('roles').dirty">
        <p class="error center-text">
          {{ validation.message }}
        </p>
      </div>
    </ng-container>
  </div>

  <ion-item>
    <ion-label>Senha</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>
  <div class="validation-area">
    <ng-container *ngFor="let validation of validation_messages.password">
      <div *ngIf="(createUserForm.get('password').hasError(validation.type) && (createUserForm.get('password').dirty))">
        <p class="error center-text">
          {{ validation.message }}
        </p>
      </div>
    </ng-container>
  </div>
  <ion-item>
    <ion-label>Confirme a senha</ion-label>
    <ion-input type="password" formControlName="confirmPassword"></ion-input>
  </ion-item>
  <div class="validation-area">
    <ng-container *ngFor="let validation of validation_messages.confirmPassword">
      <div *ngIf="(createUserForm.get('confirmPassword').hasError(validation.type) && (createUserForm.get('confirmPassword').dirty))">
        <p class="error center-text">
          {{ validation.message }}
        </p>
      </div>
    </ng-container>
    <ng-container *ngFor="let validation of validation_messages.formErrors">
      <div *ngIf="createUserForm.hasError(validation.type) && !createUserForm.get('confirmPassword').hasError('required')
      && !createUserForm.get('confirmPassword').hasError('minlength')">
        <p class="error center-text">
          {{ validation.message }}
        </p>
      </div>
    </ng-container>
  </div>
</form>
</ion-content>
