<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home Page
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <button ion-button (click)="pickUpIntern()">
    Pick Up a Intern!
  </button>
</ion-content>
