// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.image {
    height: 5vw;
    width: 5vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.circle-pic {
    width:150px;
    height:150px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ion-item.item-md, .item-ios {
    padding-left: 0px !important;
}

#toggle-menu-profile {
  text-align: center;
}

.success{
  color:#4BB543;
}

.error{
  color:#F31431;
}

.center-text{
  text-align: center;
}

.validation-area{
  height: 17px;
}

.validation-area p{
  margin: 0px;
}

.item.item-md .checkbox-md{
  margin-right: 20px;
}
