
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <div id="toggle-menu-profile" class="center">
        <img class="circle-pic center"
        src="http://autokadabra.ru/system/uploads/users/18/18340/small.png?1318432918" />
        <ion-title>{{name}}</ion-title>
        <button menuClose ion-button (click)="logout()">
          Logout
        </button>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
