<!--
Generated template for the CreateInternPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Editar estagiário
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only [disabled]="!editInternForm.controls.name.valid" (click)="save()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="editInternForm">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <div class="validation-area">
      <p *ngIf="editInternForm.controls.name.valid" class="success center-text">Nome válido.</p>
      <p *ngIf="editInternForm.controls.name.pending" class="center-text">Checando nome...</p>
      <ng-container *ngFor="let validation of validation_messages.name">
        <div *ngIf="editInternForm.get('name').hasError(validation.type) && editInternForm.get('name').dirty">
          <p class="error center-text" *ngIf="(editInternForm.get('name').hasError('pattern') && !(validation.type === 'minlength' || validation.type === 'maxlength')) || (!editInternForm.get('name').hasError('pattern') && (validation.type === 'minlength' || validation.type === 'maxlength'))">
            {{ validation.message }}
          </p>
          <p class="error center-text" *ngIf="(!editInternForm.get('name').hasError('pattern') &&
          !(validation.type === 'minlength' || validation.type === 'maxlength'))">
          {{ validation.message }}
        </p>
      </div>
    </ng-container>
  </div>
  <!--<button ion-button full color="primary" (click)="save()" [disabled]="!editInternForm.controls.name.valid">Salvar</button>-->
</form>
</ion-content>
