<!--
  Generated template for the CreateUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-tabs #myTabs tabsHideOnSubPages="true">
  <ion-tab tabTitle="Details" tabIcon="md-person" [root]="tab1Root" [rootParams]="tabParams"></ion-tab>
  <ion-tab tabTitle="Password" tabIcon="md-key" [root]="tab2Root" [rootParams]="tabParams"></ion-tab>
</ion-tabs>
