<!--
Generated template for the ShowInternPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Cafés feitos
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let selection of selections" text-wrap>
      <h2>
        <ion-row>Seleção nº: {{selection.id}} - {{selection.status}}</ion-row>
        <ion-row>{{selection.intern.name}} em {{selection.printableDate}}</ion-row>
      </h2>
      <h3>

      </h3>
    </ion-item>
  </ion-list>
</ion-content>
