<!--
Generated template for the ShowInternPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Cafés feitos
    </ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let coffee of coffees" text-wrap>
      <h2>
        Café nº: {{coffee.id}}
      </h2>
      <h3>
        Por {{coffee.intern.name}} em {{coffee.printableDate}}
      </h3>
    </ion-item>
  </ion-list>
</ion-content>
