<!--
  Generated template for the CreateInternPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Novo estagiário
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only [disabled]="!createInternForm.controls.name.valid" (click)="save()">
          <ion-icon name="md-checkmark"></ion-icon>
      </button>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="createInternForm">
      <ion-item>
        <ion-label>Nome</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <div class="validation-area">
        <p *ngIf="createInternForm.controls.name.valid" class="success center-text">Nome válido.</p>
        <p *ngIf="createInternForm.controls.name.pending" class="center-text">Checando nome...</p>
        <ng-container *ngFor="let validation of validation_messages.name">
          <div *ngIf="(createInternForm.get('name').hasError(validation.type) && (createInternForm.get('name').dirty))">
            <p class="error center-text" *ngIf="(createInternForm.get('name').hasError('pattern') && !(validation.type === 'minlength' || validation.type === 'maxlength')) || (!createInternForm.get('name').hasError('pattern') && (validation.type === 'minlength' || validation.type === 'maxlength'))">
              {{ validation.message }}
            </p>
            <p class="error center-text" *ngIf="(!createInternForm.get('name').hasError('pattern') &&
                   !(validation.type === 'minlength' || validation.type === 'maxlength'))">
              {{ validation.message }}
            </p>
          </div>
        </ng-container>
      </div>
  </form>
</ion-content>
