<!--
Generated template for the ShowUserPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Usuários
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="selectItems()">
        selec. <ion-icon style="padding-left: 5px;" item-right name="ios-checkbox-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="deleteMany()" [hidden]="hiddenItems">
        <ion-icon item-right name="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-fab right bottom>
    <button ion-fab [hidden]="!hiddenItems" (click)="showCreatePage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ng-container *ngFor="let user of users">
      <button ion-item (tap)="edit(user)" (press)="select(user)">
        <ion-checkbox [hidden]="hiddenItems" [(ngModel)]="user.checked"
        [disabled]="(user.id === 1 || loggedUser.id === user.id) && !hiddenItems"
        (ionChange)="updateItems(user)" item-left>
        </ion-checkbox>
        <ion-thumbnail item-left>
          <img src="http://via.placeholder.com/50x50">
        </ion-thumbnail>
        <ion-label>
          <h1>{{user.name}}</h1>
          <ion-row class="margin-top-15">
            <div ion-column class="margin-bottom-5 margin-right-20">
              <h3>Usuário</h3>
              <h3>Permissão</h3>
            </div>
            <div ion-column class="margin-bottom-5">
              <h3>{{user.username}}</h3>
              <h3>{{user.roles[0].role}}</h3>
            </div>
          </ion-row>
        </ion-label>
      </button>
    </ng-container>
  </ion-list>
</ion-content>
