<!--
Generated template for the ShowInternPage page.

See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Estagiários
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="selectItems()">
        selec. <ion-icon style="padding-left: 5px;" item-right name="ios-checkbox-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="deleteMany()" [hidden]="hiddenItems">
        <ion-icon item-right name="ios-trash-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-fab right bottom>
    <button ion-fab [hidden]="!hiddenItems" (click)="showCreatePage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ng-container *ngFor="let intern of interns">
      <button ion-item (tap)="edit(intern)" (press)="select(intern)">
        <ion-checkbox [hidden]="hiddenItems" [(ngModel)]="intern.checked"
        (ionChange)="updateItems(intern)" item-left></ion-checkbox>
        <ion-label>
        <h1>{{intern.name}}</h1>
        <ion-row class="margin-top-15">
          <div ion-column class="margin-bottom-5 margin-right-20">
            <h3>Cafés arregados</h3>
            <h3>Cafés  feitos</h3>
          </div>
          <div ion-column class="margin-bottom-5">
            <h3>{{intern.weight}}</h3>
            <h3>{{intern.counterOfCoffee}}</h3>
          </div>
        </ion-row>
      </ion-label>
      <ion-thumbnail item-left>
        <img src="http://via.placeholder.com/50x50">
      </ion-thumbnail>
      </button>
    </ng-container>
  </ion-list>
</ion-content>
