<!--
  Generated template for the ChangeDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Editar usuário
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only [disabled]="formIsInvalid()" (click)="saveUser()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="editUserForm">
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <div class="validation-area">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div *ngIf="(editUserForm.get('name').hasError(validation.type) && (editUserForm.get('name').dirty))">
          <p class="error center-text">
            {{ validation.message }}
          </p>
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Usuário</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>
    <div class="validation-area">
      <p *ngIf="editUserForm.controls.username.valid" class="success center-text">Usuário válido.</p>
      <p *ngIf="editUserForm.controls.username.pending" class="center-text">Checando usuário...</p>
      <ng-container *ngFor="let validation of validation_messages.username">
        <div *ngIf="(editUserForm.get('username').hasError(validation.type) && (editUserForm.get('username').dirty))">
          <p class="error center-text" *ngIf="(editUserForm.get('username').hasError('pattern') &&
          !(validation.type === 'minlength'
           || validation.type === 'maxlength'))
           || (!editUserForm.get('username').hasError('pattern') && (validation.type === 'minlength'
           || validation.type === 'maxlength')) && validation.type !== 'usernameInUse'">
            {{ validation.message }}
          </p>
          <p class="error center-text" *ngIf="(!editUserForm.get('username').hasError('pattern') &&
                   !(validation.type === 'minlength' || validation.type === 'maxlength'))  && validation.type !== 'usernameInUse'">
            {{ validation.message }}
          </p>
          <p class="error center-text" *ngIf="(editUserForm.get('username').hasError('usernameInUse') &&
           editUserForm.value.username !== user.username)">
            {{ validation.message }}
          </p>
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Permissão</ion-label>
      <ion-select [compareWith]="compareFn" formControlName="roles">
        <ion-option *ngFor="let role of roles" [value]="role">{{role.role}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="validation-area"></div>
  </form>
</ion-content>
